* {
  box-sizing: border-box;
  color: #222328;
  /* border: olive 1px solid; */
}
html,
body,
h1,
h2,
h3,
ul,
li {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  width: 1000px;
  height: 650px;
  display: flex;
}
.main-contents-wrap {
  width: 750px;
  height: 650px;
}
/* 헤더 */
header {
  width: 250px;
  height: 100%;
}
h1 {
  margin: 20px;
}
/* 헤더-메뉴 */
.main-menu-wrap {
  width: 150px;
  margin-left: 35px;
}
.main-menu {
  background-color: lightgray;
}
.sub-menu-warp {
  box-sizing: initial;
  height: 0;
  overflow: hidden;
  transition: 0.5s;
  background-color: lightblue;
}
.main-menu span {
  display: block;
  width: 100%;
  height: 40px;
  text-align: center;
  padding: 9px;
}
.sub-menu {
  text-align: center;
  width: 100%;
  margin: 10px auto;
}
.main-menu:hover {
  background-color: rgb(131, 158, 185);
  transition: 0.5s;
}
.main-menu:hover .sub-menu-warp {
  height: 120px;
}
.main-menu:hover .sub-menu {
  height: 30px;
}
.sub-menu:hover {
  background-color: lightslategray;
  transition: 0.5s;
}
.main-menu a {
  font-size: 18px;
}
/* 슬라이드 */
.slide {
  width: 750px;
  height: 350px;
  background-color: olive;
}
.slide-wrap {
  position: relative;
}
.slide-wrap img {
  position: absolute;
  transition: 0.5s;
}
.slide-wrap img:nth-of-type(1) {
  opacity: 1;
}
.slide-wrap img:nth-of-type(2),
.slide-wrap img:nth-of-type(3) {
  opacity: 0;
}

/* 컨텐츠 */
.contents {
  width: 750px;
  height: 200px;
  display: flex;
}
.contents section {
  width: 250px;
  height: 100%;
}
.article-wrap {
  /* background-color: lawngreen; */
}
.button-wrap {
  display: flex;
  margin-top: 15px;
  border-top: lightslategray 1px solid;
  border-bottom: lightslategray 1px solid;
}
.button-wrap li {
  width: 80px;
  height: 30px;
  display: block;
  text-align: center;
  padding: 4px;
  margin: 5px;
}

.notice {
  margin: 8px;
  border-bottom: lightslategray 1px solid;
  position: absolute;
  display: none;
}
.notice li {
  margin: 7px 0;
}
.gallery {
  display: none;
  position: absolute;
}
.img-wrap {
  margin: 28px 14px;
}
.gallery img {
  width: 70px;
  height: 70px;
}

.banner img,
.go-to img {
  margin: 25px;
}
.gallery.on {
  display: block;
}
.notice.on {
  display: block;
}

/* 푸터 */
footer {
  width: 750px;
  height: 100px;
  border-top: lightslategray 1px solid;
  display: flex;
}
footer h2 {
  margin: auto 0;
}
footer img {
  width: 150px;
}
footer .under-contents {
  width: 600px;
  height: 100%;
  display: block;
  text-align: center;
}
.under-nav {
  width: 100%;
  margin: 15px auto;
  display: block;
}
.under-nav-wrap {
  display: flex;
  text-align: center;
  width: 100%;
  margin-left: 110px;
}
.under-nav-wrap li {
  margin: 0 20px;
  font-size: 12px;
}
.copyright {
  margin-top: 25px;
}

/* 팝업 */
.popup {
  width: 400px;
  height: 400px;
  background-color: white;
  position: absolute;
  border: black 2px solid;
  top: 20%;
  left: 38%;
  display: none;
}
.popup-wrap {
  margin: 25px;
}
.popup-close {
  position: absolute;
  left: 80%;
  top: 85%;
}
.popup.on {
  display: block;
}
