* {
  box-sizing: border-box;
  color: #888888;
}
html,
body,
h1,
h2,
h3,
ul,
li {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
.container {
  width: 1200px;
  height: 700px;
  margin: 0 auto;
  position: relative;
}
/* 헤더 */
header {
  width: 100%;
  height: 100px;
  display: flex;
}
nav {
  position: relative;
  z-index: 99;
}
.main_menu_wrap {
  display: flex;
  text-align: center;
  position: absolute;
  width: 600px;
  top: 30px;
  left: 210px;
}
.main_menu {
  width: 150px;
  height: 40px;
  background: #4a4948;
  padding: 4px 0;
  transition: 0.3s;
}
.main_menu > a {
  font-size: 20px;
  color: #e0e0e0;
}
.sub_menu_wrap {
  background-color: #afafaf;
  margin-top: 10px;
  height: 0;
  overflow: hidden;
  transition: 0.3s;
}
.sub_menu {
  height: 30px;
  padding: 4px;
  transition: 0.3s;
}
.sub_menu > a {
  color: #333333;
}
.main_menu:hover {
  background: #1f1e1e;
}
.main_menu:hover .sub_menu_wrap {
  height: 120px;
}
.sub_menu:hover {
  background-color: #d3d3d3;
}
/* 슬라이드 */
.slide {
  width: 100%;
  height: 300px;
}
.slide_window {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.slide_wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  transition: 0.5s;
}
.slide img {
  display: block;
}
/* 메인 */
.main {
  width: 100%;
  height: 200px;
  display: flex;
}
.main section {
  width: 33.3%;
}
.main h3 {
  margin: 15px;
}
/* 공지사항 */
.notice span {
  float: right;
  margin-right: 50px;
}
.notice li {
  margin: 5px;
}
/* 갤러리 */
.gallery_wrap {
  padding: 10px 43px;
}
.gallery img {
  width: 100px;
  height: 100px;
}
/* 푸터 */
footer {
  width: 100%;
  height: 100px;
  display: flex;
  border-top: #4a4948 1px solid;
}
h2 img {
  width: 200px;
  margin: 10px;
}
.copyright {
  width: 900px;
  text-align: center;
  line-height: 5;
}
.sns {
  width: 100px;
  text-align: center;
  line-height: 1.5;
  margin: 10px;
}
/* 팝업 */
.popup {
  position: absolute;
  width: 400px;
  height: 300px;
  border: black 2px solid;
  padding: 30px;
  top: 50%;
  left: 50%;
  margin: -200px -150px 0;
  background-color: #fff;
  display: none;
}
.popup_wrap {
  position: relative;
}
.popup_close {
  position: absolute;
  top: 145%;
  left: 85%;
}
.popup.on {
  display: block;
}
