body {
  background-image: url(../img/wedding-1983483_1920.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  position: relative;
  width: 100%;
  height: 800px;
  /* background-image: url(../img/wedding-1983483_1920.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat; */
}

nav {
  position: absolute;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  background-color: rgba(34, 34, 34, 0.507);
  padding-top: 115px;
  transition: 0.3s;
}
nav.on {
  left: 0;
}

h1 {
  position: relative;
  z-index: 9999;
}
h1 a {
  font-size: 90px;
  color: rgba(255, 241, 219, 0.795);
  margin: 10px;
}
ul.menu {
  position: absolute;
  top: 125px;
  margin-left: 10px;
}

ul li {
  font-size: 30px;
  margin: 10px;
  color: rgba(211, 211, 211, 0.808);
}
main {
  width: 100%;
  height: 1800px;
}

.section--1st {
  width: 100%;
  height: 650px;
  background-color: rgba(184, 179, 179, 0.425);
  color: #1d1d1d;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.section--1st h2 {
  font-size: 50px;
  margin: 50px;
}

.sectionOneContent {
  position: relative;
  opacity: 0;
  transition: 1s;
}
.sectionOneContent.active {
  opacity: 1;
}

.section--1st p {
  width: 800px;
  font-size: 20px;
}

.section--2nd {
  width: 100%;
  height: 800px;
  background-color: rgba(184, 179, 179, 0.425);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section--2nd h2 {
  font-size: 50px;
  margin: 50px;
}

.article__wrap {
  display: flex;
  width: 1500px;
  height: 500px;
  font-size: 20px;
  justify-content: space-around;
}

article h3 {
  font-size: 25px;
  margin: 20px;
}

.article__wrap .small__img {
  width: 300px;
  height: 400px;
}
.article__wrap article {
  transition: 0.5s;
  opacity: 0;
}

article:nth-of-type(1) .small__img {
  background-image: url(../img/1.jpg);
  background-size: cover;
}

article:nth-of-type(2) .small__img {
  background-image: url(../img/8.jpg);
  background-size: cover;
}
article:nth-of-type(3) .small__img {
  background-image: url(../img/4.jpg);
  background-size: cover;
}
article:nth-of-type(4) .small__img {
  background-image: url(../img/5.jpg);
  background-size: cover;
}

.article__wrap.active article:nth-of-type(1) {
  animation: one 0.5s 0s forwards;
}
.article__wrap.active article:nth-of-type(2) {
  animation: one 0.5s 0.2s forwards;
}
.article__wrap.active article:nth-of-type(3) {
  animation: one 0.5s 0.4s forwards;
}
.article__wrap.active article:nth-of-type(4) {
  animation: one 0.5s 0.6s forwards;
}

@keyframes one {
  100% {
    opacity: 1;
  }
}

.section--3rd {
  width: 100%;
  height: 350px;
  background-color: rgba(0, 0, 0, 0.253);
  /* background-image: url(../img/wedding-322034_1920.jpg); */
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.section--3rd p {
  font-size: 30px;
  margin: 20px;
}

.section--3rd input {
  border: none;
  text-decoration: none;
  font-size: 20px;
  background-color: rgba(29, 29, 29, 0.322);
  color: blanchedalmond;
  width: 200px;
  height: 50px;
}

footer {
  width: 100%;
  height: 100px;
  display: flex;
  background-color: rgba(19, 19, 19, 0.938);
  justify-content: space-between;
  align-items: center;
  color: blanchedalmond;
}

footer span {
  font-size: 50px;
  margin: 25px;
}

footer span i {
  margin-right: 20px;
}

footer p {
  font-size: 20px;
}
.menu {
  margin-bottom: 15px;
}
.menu:hover .sub {
  opacity: 1;
  margin: 0;
}

.menu .sub {
  opacity: 0;
  margin: -55px;
  transition: 0.3s;
}

aside {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  background: #fff;
}
